.formgroup-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
}

main {
    height: 100vh;
    background-color: blueviolet;
    color: beige;
    /* margin-top: 10px; */
}